body {
  font-family: 'Azeret Mono', 'Noto Sans TC', monospace, sans-serif;
  font-family: 'Noto Sans TC',
}

.font-mono {
  font-family: 'Azeret Mono', monospace;
}

.font-tc {
  font-family: 'Noto Sans TC', sans-serif;
}

.text-f-primary {
  font-size: 18px;
  line-height: 26px;
}
