.navbar {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #62DB54;
  }
  &:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: #09ACF5;
  }
}

.navbar-brand img {
  height: 42px;
}

.nav-item {
  &:hover {
    color: #62DB54;
  }
  .material-icons {
    font-size: 20px;
    vertical-align: bottom;
  }
}
.navbar-toggler {
  &:focus {
    color: #62DB54;
  }
  .material-icons {
    color: #62DB54;
  }
}
