.banner {
  background: url('../images/bg_home_mobile.jpg') no-repeat center center;
  width: 100%;
  height: auto;

  @include desktop {
    background: url('../images/bg_home.jpg');
  }

  p {
    font-size: 24px;
    line-height: 35px;
    font-weight: 600;

    @include desktop {
      font-size: 48px;
      line-height: 70px;
    }

    &:last-child {
      font-size: 14px;
      line-height: 20px;
      font-weight: 300;

      @include desktop {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }
  .test {
    @include desktop {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}
