<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-dark bg-black-100 px-lg-11 py-lg-4">
        <div class="container-fluid ">
          <a class="navbar-brand" href="#">
            <img src="./assets/images/logo.svg" alt="Coding Home Logo" class="img-fluid w-100">
          </a>
          <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="material-icons">drag_handle</span>
          </button>
          <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-lg-8 text-f-primary">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">首頁</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">課程介紹</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="material-icons">
                    account_circle
                  </span>
                  登入
                </a>
              </li>
          </div>
        </div>
      </nav>
    </header>

    <%- contents %>

    <footer class="footer bg-black-200">
        <p class="text-black-300 font-mono text-center py-3 py-lg-4">Coding Home © 2022 All Rights Reserved</p>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
